@{
    ViewData["Title"] = "Home Page";
    var environment = ViewData["Environment"]?.ToString();
    var slotName = ViewData["Slot"]?.ToString();
    var isProd = environment == "Prod";
}

<div class="text-center">
    <h1 class="display-4">Azure Deploy Demo - Another Change</h1>

    <table class="table table-bordered w-50 mx-auto mt-4">
        <tr>
            <th>.NET Version</th>
            <td>@ViewData["DotNetVersion"]</td>
        </tr>
        <tr>
            <th>First Config Non-Sensitive Value</th>
            <td>
                @if (ViewData["Value"]?.ToString() == "Not found")
                {
                    <span class="badge bg-danger">Not found ✗</span>
                }
                else
                {
                    <span>@ViewData["Value"]</span>
                }
            </td>
        </tr>
        <tr>
            <th>Second Config Non-Sensitive Value</th>
            <td>
                @if (ViewData["ValueTopLevel"]?.ToString() == "Not found")
                {
                    <span class="badge bg-danger">Not found ✗</span>
                }
                else
                {
                    <span>@ViewData["ValueTopLevel"]</span>
                }
            </td>
        </tr>
        <tr>
            <th>Config Secret</th>
            <td>
                @if (ViewData["Secret"]?.ToString() == "Not found")
                {
                    <span class="badge bg-danger">Not found ✗</span>
                }
                else
                {
                    <code>@ViewData["Secret"]</code>
                }
            </td>
        </tr>
    </table>
</div>
